<%# shows a delete link next to the user. Uses the delete method which refers to your destroy method %>
<h1> Admin </h1>
<% @users.each do |user| %>
  <%= user.full_name %>
  <%= link_to "delete", admin_user_path(user), method: :delete %>
<% end %>
